.h1,
h1 {
  font-size: 1.5rem !important;
}

.h4,
h4 {
  font-size: 1.2rem;
}

.slider.slider-horizontal {
  width: 100% !important;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-header .close {
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  color: #000;
}

.modal-header .close:hover,
.modal-header .close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.profil-photo {
  max-width: 60px;
}

.myPhoto {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  background: #0000;
  box-shadow: none !important;
  border: 0 !important;
}

.position-absolute {
  z-index: 9;
}

.alert {
  width: 100%;
  z-index: 9;
}

#Imgavatar {
  max-height: 500px !important;
}

.myPhoto .modal-header {
  border: 0;
  padding: 0px 7px;
}

.myPhoto .modal-title {
  color: #fff;
  font-size: 15px;
}

.img-thumbnail {
  max-width: 70%;
}

button.dt-button,
div.dt-button,
a.dt-button,
input.dt-button {
  margin-right: 0;
  margin-bottom: 0.5em;
  padding: 0.4em 0.9em !important;
  border-radius: 3px !important;
  font-size: 0.83em !important;
}

div.dt-buttons {
  margin-right: 20px;
}

.dataTables_wrapper label:not(.form-check-label):not(.custom-file-label) {
  font-weight: normal;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.3em 0.9em;
  margin-top: 7px;
  margin-left: 2px;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.errors ul {
  padding-left: 15px;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400;
}

.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

button.close {
  padding: 0.7rem 1rem !important;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
